a {
  color: #11999E;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  width: 4%;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
}

p {
  color: #40514E;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.asp {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 100;
  padding: 15px;
  background-color: #66BFBF;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 30px auto 100px auto;
}

.copyright {
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 0.75rem;
  font-family: serif;
}

.intro {
  width: 30%;
  margin: auto;
}

.footer-link {
  color: #11999E;
  font-weight: bold;
  position: relative;
  top: 30px;
}

.middle-container {
  margin: 100px 0;
}

.profile-picture {
  width: 200px;
  border-radius: 100%;
}

.writing {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.singing {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  height: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
